<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->

        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>
<!--        <property name="hbm2ddl.auto">update</property>-->
<!--        <mapping class="realisation.One_To_One.Passport"/>-->
<!--        <mapping class="realisation.One_To_One.Person"/>-->
<!--        <mapping class="realisation.One_To_Many.Master"/>-->
<!--        <mapping class="realisation.One_To_Many.Slave"/>-->
<!--        <mapping class="realisation.Many_To_Many.Auto"/>-->
<!--        <mapping class="realisation.Many_To_Many.Dealer"/>-->


    </session-factory>
</hibernate-configuration>